@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "K2D", system-ui, Avenir, Helvetica, Arial, sans-serif;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* background-color: #262933; */
  background: linear-gradient(
    109.6deg,
    rgb(21 43 71) 11.2%,
    rgb(58 73 92) 51.2%,
    rgb(22 24 30) 98.6%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;

  margin: 0;
  min-height: 100vh;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: theme(colors.gray.800);
}

::selection {
  color: white;
  background: theme(colors.gray.800);
}
