@tailwind base;
@tailwind components;
@tailwind utilities;

@property --background-color-1 {
  syntax: "<color>";
  initial-value: rgb(21 43 71);
  inherits: false;
}

@property --background-color-2 {
  syntax: "<color>";
  initial-value: rgb(58 73 92);
  inherits: false;
}

@property --background-color-3 {
  syntax: "<color>";
  initial-value: rgb(22 24 30);
  inherits: false;
}

:root {
  font-family: "K2D", system-ui, Avenir, Helvetica, Arial, sans-serif;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* background-color: #262933; */
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(
    109.6deg,
    var(--background-color-1) 11.2%,
    var(--background-color-2) 51.2%,
    var(--background-color-3) 98.6%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: --background-color-1 0.5s, --background-color-2 0.5s,
    --background-color-3 0.5s;
}

body:has(#books) {
  --background-color-1: rgb(43, 54, 45);
  --background-color-2: rgb(67, 89, 71);
  --background-color-3: rgb(22 30 22);
}

body:has(#movies) {
  --background-color-1: rgb(63, 41, 65);
  --background-color-2: rgb(97, 73, 100);
  --background-color-3: rgb(43, 35, 43);
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: theme(colors.gray.800);
}

::selection {
  color: white;
  background: theme(colors.gray.800);
}
